<mat-toolbar class="header mat-elevation-z4">
    <div class="logo">
        <img src="../../../../../assets/images/logo.png" alt="logo" width="20%">
        <h2 id="title-painel">educa-drive-<span id="painel">painel</span></h2>
    </div>
    <!-- <span class="title-group">
        <a id="headerIconName" routerLink="{{routeUrl}}" style="color: black; text-decoration: none;">
            <i class="material-icons">
                {{icon}}
            </i>
            {{title}}
        </a>
    </span> -->


    <div id="logout">
        <img id="user-img" src="../../../../../assets/images/avatarUser.png" alt="Imagem do usuário" width="75%">
        <h2 id="user-text"> Olá, User</h2>
        <i class="material-icons" id="logout-icon" (click)="abrirModalSair()">
            logout
        </i>
    </div>

</mat-toolbar>