<mat-toolbar class="header mat-elevation-z4">
    <span>
        <a>
            <img class="logo" src="../../../../../assets/images/logo.png" alt="logo" width="75%">
        </a>
    </span>
    <span class="title-group">
        <a id="headerIconName" routerLink="{{routeUrl}}" style="color: black; text-decoration: none;">
            <i class="material-icons">
                {{icon}}
            </i>
            {{title}}
        </a>
    </span>
    <button id="logout" mat-raised-button (click)="abrirModalSair()">
        Sair
    </button>
</mat-toolbar>