<div id="products" class="row ">
    <div class="col-xl-4 col-lg-4 col-md-10 col-sm-12 productsSize ">
        <div class="contentProducts">
            <div class="productIMG">
                <img src="../../../assets/images/block.png" alt="block1" class="img-fluid blockImage">
            </div>
            <div class="productWrited">
                <h3>PHP</h3>
                
                <p> I've been working with PHP since <br> I began to work in 123 milhas, where<span
                        class="productPoints">.</span><span class="hiddenProducts"> also I began to study <strong>Laravel</strong>.</span>
                </p>
                <a href=""> Read more<span class="productPoints">...</span></a>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-10 col-sm-12 productsSize hiddenProductsContent">
        <div class="contentProducts">
            <div class="productIMG">
                <img src="../../../assets/images/block3.png" alt="block3" class="img-fluid blockImage">
            </div>
            <div class="productWrited">
                <h3>Javascript</h3>
                <p>My programmer career began with Javascript,
                   where I studyied frameworks like: <strong>React, React Native, Angular and JQuery</strong>.
                </p>
                <a href=""> Read more<span class="productPoints">...</span> </a>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-10 col-sm-12 productsSize hiddenProductsContent">
        <div class="contentProducts">
            <div class="productIMG">
                <img src="../../../assets/images/block2.png" alt="block2" class="img-fluid blockImage">
            </div>
            <div class="productWrited">
                <h3>SQL Server</h3>
                <p>My first Database to work was SQL Server, where did I learn how to manage data
                  and work with that in backend. 
                </p>
                <a href=""> Read more<span class="productPoints">...</span></a>
            </div>
        </div>
    </div>
    <div class="InvertMobile">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 productsSize ">
            <div class="contentProducts">
                <div class="productIMG">
                    <img src="../../../assets/images/block3.png" alt="block3" class="img-fluid blockImage">
                </div>
                <div class="productWrited">
                    <h3>Viable product</h3>
                    <p>Create something novel that has <br>
                        never been done<span class="productPoints">.</span><span class="hiddenProducts"> on
                            the
                            blockchain<br>
                            before Build a
                            product</span>
                    </p>
                    <a href=""> Read more<span class="productPoints">...</span> </a>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 productsSize ">
            <div class="contentProducts">
                <div class="productIMG">
                    <img src="../../../assets/images/block2.png" alt="block2" class="img-fluid blockImage">
                </div>
                <div class="productWrited">
                    <h3>Quality product</h3>
                    <p>Create something novel that has<br>
                        never been done <span class="productPoints">.</span> <span class="hiddenProducts">
                            on
                            the
                            blockchain
                            <br>before Build a
                            product</span>
                    </p>
                    <a href=""> Read more<span class="productPoints">...</span></a>
                </div>
            </div>
        </div>
    </div>
</div>