<div id="OurValues" class="row">
    <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12 " id="ourValuesImage">
        <img src="../../../assets/images/Our Values Illustration.png" alt="Our Values" class="img-fluid">
    </div>
    <div id="OurValuesContent" class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <h2>My Values</h2>
        <p><br>I'm a professional who loves technology.
            <br> I learn and have dedication. I believe that<br> work bring dignity for the man, and I try
            <br>to be the best to my equip and partnerships.
        </p><br>
        <button id="OurValuesButton">Read More</button>
    </div>
</div>