<div class="row" id="logos">
    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-1 logoContentDIV ">
        <img src=".../../../assets/images/logos1.png" alt="logos" class="img-fluid logoContent">
    </div>
    <div id="logoLine" class="col-lg-1 col-xl-1
">
        <img src=".../../../assets/images/Line10.png" alt="" class="LineLogo">
    </div>
    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-1 logoContentDIV">
        <img src=".../../../assets/images/logos2.png" alt="logos" class="img-fluid logoContent">
    </div>
    <div id="logoLine" class="col-lg-1 col-xl-1
">
        <img src=".../../../assets/images/Line10.png" alt="" class="LineLogo">
    </div>
    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-1 logoContentDIV">
        <img src=".../../../assets/images/logos3.png" alt="logos" class="img-fluid logoContent">
    </div>
    <div id="logoLine" class="col-lg-1 col-xl-1
">
        <img src="../../../assets/images/Line10.png" alt="" class="LineLogo">
    </div>
    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-1 logoContentDIV">
        <img src="../../../assets/images/logos4.png" alt="logos" class="img-fluid logoContent">
    </div>
</div>