<header>
  <nav class="navbar navbar-expand-lg col-xl-11 col-lg-11 col-md-11 col-sm-12 container-fluid">
      <div class="navbar-brand" href="#" id="navLogo">
          <img src="../../../assets/images/logo.png" alt="logo" class="img-fluid" id="initialLogo">
      </div>
      <button class="navbar-toggler buttonNavigator" type="button"
          data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse navContent" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ulContent">
              <li class="nav-item">
                  <a routerLink="/home" class="nav-link active" aria-current="page" href="#"><span
                          class="nav-orange">Home</span></a>
              </li>
              <li class="nav-item nav-size-less">
                  <a class="nav-link nav-color" href="#AboutUs">
                      AboutUs
                  </a>
              </li>
              <li class="nav-item nav-size-big">
                  <a class="nav-link nav-color" href="#OurInterests">
                      Our interests
                  </a>
              </li>
              <li class="nav-item nav-size-less">
                  <a class="nav-link nav-color" href="#OurValues">
                      Values
                  </a>
              </li>
              <li class="nav-item nav-size-big">
                  <a class="nav-link nav-color" href="#CurrentProjects">
                      Current Projects
                  </a>
              </li>
          </ul>
          <form class="d-flex">
              <button routerLink="/sign-up" class="btn btn-outline-success" id="buttonTitle">
                  Sign Up
              </button>
          </form>
      </div>
  </nav>
