<div id="LetsTake" class="row">
    <div id="LetsTakeContent" class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div id="LetsTakeContentH1">
            <h1>Be welcome to<br><br>
                my <span id="orange">repository</span> <br><br>
                of Technology
            </h1>
        </div>
        <p>Here I'll be focused in create my repository creating<br>
           a model site with a CRUD with Angular and PHP</p>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 " id="LetsTakeImage">
        <img src="../../../assets/images/Frame.png" class="img-fluid" alt="image" id="TakeImage">
    </div>
    <div id="buttonID" class="col-md-12 col-sm-12 ">
        <div class="buttonClass hover1">
            <button id="o">Get Started <img src="../../assets/images/row.png">
            </button>
        </div>
        <div class="buttonClass buttonClass2 hover2">
            <button id="learn">Learn More
            </button>
        </div>
    </div>
</div>