* {
  font-family: 'Manrope', sans-serif;
}

.fullBody{
  background-color: #E9E9E9;
}

h2 {
  font-size: 52px;
  font-weight: bold;
}

h3 {
  font-size: 28px;
  color: #2B2B2B;
  font-weight: bold;
}

p {
  font-weight: 400;
  font-size: 18px;
  line-height: 32.4px;
  color: #5B5B5B
}

#space {
  margin-top: 100px;
}



@media (min-width: 1920px) {
  div#AboutUsContent {
    width: 800px;
  }

}
