span, label {
  font-family: 'Manrope', sans-serif;
  font-size: 1rem;
}


.header_color{
  background-color: #161e2d;
  color: aliceblue;
}

section{
  padding: 4%;

}

.form-group{
  padding-bottom: 1% ;
}

.page-header{
  display: flex;
}

.header-icon{
  padding-top: 5px;
  padding-left: 15%;
}

.header-title{
  padding-left: 1%;
}

#SignUp {
  color: #fff;
  background-color: #88cc14;
  padding: 10px 30px;
  border: 8px;
  border-radius: 8px;
  font-weight: bold;
}

@media (min-width: 1920px) {
  .header-icon{
    padding-left: 17%;
  }
}
