<header class="header  header_color p-4">
  <div class="page-header" >
    <div class="header-icon" >
      <i class="material-icons">assignment_ind</i>
    </div>
    <div class="header-title">
      <h1 class="mb-0 text"> Login:</h1>
      <span class="faded">
        Be welcome again!
        <i class="material-icons">favorite</i>
      </span>
    </div>
  </div>
</header>
<section class="container sign-up ff-inter">
  <form >
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="email" name="email"  aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</section>
