span, label {
  font-family: 'Manrope', sans-serif;
}

.header_color{
  background-color: #161e2d;
  color: aliceblue;
}

section{
  padding: 6%;

}

.form-group{
  padding-bottom: 1% ;
}

.page-header{
  display: flex;
}

.header-icon{
  padding-top: 5px;
  padding-left: 15%;
}

.header-title{
  padding-left: 1%;
}
