<div id="CurrentProjects" class="row">
    <h2>Current Projects</h2>
    <div class="contentProjects col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <img src="../../../assets/images/content1.png" class="img-fluid contentImage" alt="content1">
        <div class="CurrentProjectsMobileHidden">
            <h3>PHP classes - Classes<br> of development</h3>

            <p>Validation of form/pagination -
              <br> Available on github -> <a href=""> Click here</a>
            </p>
        </div>
        <div class="CurrentProjectsFullHidden">
          <h3>
              Fullstack/mobile -
              Ecoleta project
          </h3>              <p>Certified Great Expectations Lover - To add value to An outstanding team can build a product
                in
                any industry</p>
            <a href=""> Learn More.</a>
        </div>
    </div>
    <div class="contentProjects col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <img src="../../../assets/images/content2.png" class="img-fluid contentImage" alt="content2">
        <div class="CurrentProjectsMobileHidden">
          <h3>
              Fullstack/mobile -<br>
              Ecoleta project
          </h3>
            <p>Project created with ReactJS, NodeJS <br>and React Native.
              <br> Available on github -> <a href=""> Click here</a>
            </p>
        </div>
        <div class="CurrentProjectsFullHidden">
          <h3>React clone - Netflix interface
          </h3>
          <p>Certified Great Expectations Lover - To add value to An outstanding team can build a product
                in
                any industry</p>
            <a href=""> Learn More.</a>
        </div>
    </div>
    <div class="contentProjects col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <img src="../../../assets/images/content3.png" class="img-fluid contentImage" alt="content3">
        <div class="CurrentProjectsMobileHidden">
          <h3>Data Structures - C<br>language 
          </h3>

            <p>BlockSpace - This project was a<br> collaborative exercise.
                <a href=""> Read more</a>
            </p>
        </div>
        <div class="CurrentProjectsFullHidden">
            <h3>Certified Great Expectations Lover</h3>
            <p>Certified Great Expectations Lover - To add value to An outstanding team can build a product
                in
                any industry</p>
            <a href=""> Learn More.</a>
        </div>
    </div>
    <div id="space"></div>
</div>