* {
  font-family: 'Manrope', sans-serif;
}


.header_color{
  background-color: #2B2B2B;
  color: aliceblue;
}

section{
  padding: 3%;

}

.form-group{
  padding-bottom: 1% ;
}

.page-header{
  display: flex;
}

.header-icon{
  padding-left: 10%;
}

.header-title{
  padding-left: 1%;
}
