<div class="table-container">
    <table>
        <thead>
        <tr>
            <th id="separador" class="overflow"></th>
            <ng-container *ngFor="let dia of diaDaSemana">
            <th class="dia-semana" colspan="15"><span id="dia"> {{ dia.dia }}/{{dia.mes}}/{{dia.ano}}- {{ dia.nomeDoDiaDaSemana }}</span></th>
            </ng-container>
        </tr>
        <tr>
            <th class="horarios overflow">Horários</th>
            <ng-container *ngFor="let dia of diaDaSemana">
                <ng-container *ngFor="let horario of horarios">
                    <th id="horario-th">
                        <span id="horario">{{ horario }}</span>
                    </th>
                </ng-container>   
            </ng-container> 
        </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let professor of professores">
                <tr>
                    <th class="professor overflow" colspan="1"><span class="professor-name">{{ professor.nome }}</span></th>
                    <ng-container *ngFor="let dia of diaDaSemana">
                        <ng-container *ngFor="let horario of horarios">
                            <td (click)='openConfirmationDialog({professor, dia, horario})' id="{{professor.nome}}-{{dia.dia}}-{{horario}}-{{dia.ano}}" class="block-class"></td>
                        </ng-container>   
                    </ng-container> 
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>