th{
    border: 1px solid black;
}

td{
    border: 1px solid black;
    width: 300px;
}
.table-container {
    margin: 1%;
    max-width: 99%;
    overflow-x: auto;
    border-radius: 8px;
    border: 1px solid black;

}

#separador{
    /* background-color: #1c2538; */
    background-color: #3f51b5;
}

.dia-semana{
    height: 30px;
    /* background-color: #ff6600; */
    background-color: #3f51b5;
    color: #fff;
}

#dia{
    display: block;
    width: 1018px;
    font-size: 18px;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.horarios{
    height: 50px;
    font-size: 16px;
    width: 50px;
    /* background-color: #1c2538; */
    background-color: #2c3c5f;
    color: #fff;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#horario-th{
    background-color: #2c3c5f;

    /* background-color: #1c2538; */
    color: #fff;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#horario{
    display: block;
    font-size: 16px;
    width: 50px;
}

.professor{
    height: 50px;
    font-size: 16px;
    width: 50px;
    background-color: #ff6600e8;
    /* background-color: #3f51b5; */
    color: #fff;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.block-class{
    background-color: #fff;
}

.block-class:hover{
    background-color: aqua;
}

.aula-paga{
    background-color: #1fc532;
}

.aula-nao-paga{
    background-color: #d2a70d;
}