th{
    border: 1px solid black;
}

td{
    border: 1px solid black;
    width: 300px;
}
.table-container {
    max-width: 100%;
    overflow-x: auto;
    height: 450px;
}

.dia-semana{
    height: 30px;
    color: #3f51b5;
}

th span{
    display: inline-block; /* Torna o span um bloco inline */
    text-align: center;
}

.horarios{
    height: 30px;
}

.professor{
    height: 50px;
}

.block-class{
    background-color: #fff;
}
.block-class:hover{
    background-color: aqua;
}