<div class="table-container">
    <table>
        <thead>
        <tr>
            <th></th>
            <ng-container *ngFor="let dia of diasSemana">
            <th class="dia-semana" colspan="15"><span>{{ dia }}</span></th>
            </ng-container>
        </tr>
        <tr>
            <th class="horarios" >Horários</th>
            <ng-container *ngFor="let dia of diasSemana">
                <ng-container *ngFor="let horario of horarios">
                    <th>{{ horario }}</th>
                </ng-container>   
            </ng-container> 
        </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let professor of professores">
                <tr>
                    <th class="professor" colspan="1"><span class="professor-name">{{ professor.nome }}</span></th>
                    <ng-container *ngFor="let dia of diasSemana">
                        <ng-container *ngFor="let horario of horarios">
                            <td id="{{dia}}-{{horario}}" class="block-class"></td>
                        </ng-container>   
                    </ng-container> 
                </tr>
            </ng-container>
           
        </tbody>
    </table>
</div>