<footer class="fullBody">
  <img src="../../../assets/images/RetangleMobile.png" alt="" class="FooterLinesMobile">
  <img src="../../../assets/images/FooterLines.png" alt="" class="FooterLines1">
  <div id="FooterCenter">
      <div class="row">
          <div class="col-3" id="logoBlack">
              <div>
                  <img src="../../../assets/images/LogoBLACK.png" alt="logoblack">
              </div>
          </div>
      </div>
      <div class="row" id="iconsID">
          <div class="col-12" id="icons">
              <div class="logoID">
                  <img src="../../../assets/images/faceVector.png " alt="facebook" class="img-fluid">
              </div>
              <div class="logoID">
                  <img src="../../../assets/images/twitchVector.png " alt="twitch" class="img-fluid">
              </div>
              <div class="logoID">
                  <img src="../../../assets/images/linkedin.png " alt="linkedin" class="img-fluid">
              </div>
              <div class="logoID">
                  <img src="../../../assets/images/gitVector.png " alt="github" class="img-fluid">
              </div>
          </div>
      </div>

      <div class="row" id="footerRow">
          <div class="col-lg-12 col-xl-12" id="footerContent">
              <div class="footerP">
                  <a href="#AboutUs">Home</a>
              </div>
              <div class="footerP">
                  <a href="#AboutUs">AboutUs</a>
              </div>
              <div class="footerP">
                  <a href="#OurInterests"> Our interests</a>
              </div>
              <div class="footerP">
                  <a href="#OurValues"> Values</a>
              </div>
              <div class="footerP">
                  <a href="#CurrentProjects"> CurrentProjects</a>
              </div>
          </div>
      </div>
      <div class="col-12" id="footerContentMobile">
          <div class="footerP">
              <a href="#AboutUs">Home</a>
          </div>
          <div class="footerP">
              <a href="#AboutUs">AboutUs</a>
          </div>
          <div class="footerP">
              <a href="#OurInterests"> Our interests</a>
          </div>
      </div>
      <div class="col-12" id="footerContentMobile2">
          <div class="footerP">
              <a href="#OurValues"> Values</a>
          </div>
          <div class="footerP">
              <a href="#CurrentProjects"> CurrentProjects</a>
          </div>
      </div>
  </div>
  <img src="../../../assets/images/RetangleMobile2.png" alt="" class="FooterLinesMobile2">
  <img src="../../../assets/images/FooterLines2.png" alt="" class="FooterLines2">
</footer>
