<div class="fullBody" >
  <div id="LetsTake" class="row">
      <div id="LetsTakeContent" class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
          <div id="LetsTakeContentH1">
              <h1>Let’s take a <br><br>
                  tour to <span id="orange">Blockchain</span>
                  Technology
              </h1>
          </div>
          <p>We are highly focused by blockchain technology that <br> will lead
              positively to the future web.</p>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 " id="LetsTakeImage">
          <img src="../../../assets/images/Frame.png" class="img-fluid" alt="image" id="TakeImage">
      </div>
      <div id="buttonID" class="col-md-12 col-sm-12 ">
          <div class="buttonClass hover1">
              <button id="o">Get Started <img src="../../assets/images/row.png">
              </button>
          </div>
          <div class="buttonClass buttonClass2 hover2">
              <button id="learn">Learn More
              </button>
          </div>
      </div>
  </div>
  <div class="row" id="logos">
      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-1 logoContentDIV ">
          <img src=".../../../assets/images/logos1.png" alt="logos" class="img-fluid logoContent">
      </div>
      <div id="logoLine" class="col-lg-1 col-xl-1
  ">
          <img src=".../../../assets/images/Line10.png" alt="" class="LineLogo">
      </div>
      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-1 logoContentDIV">
          <img src=".../../../assets/images/logos2.png" alt="logos" class="img-fluid logoContent">
      </div>
      <div id="logoLine" class="col-lg-1 col-xl-1
  ">
          <img src=".../../../assets/images/Line10.png" alt="" class="LineLogo">
      </div>
      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-1 logoContentDIV">
          <img src=".../../../assets/images/logos3.png" alt="logos" class="img-fluid logoContent">
      </div>
      <div id="logoLine" class="col-lg-1 col-xl-1
  ">
          <img src="../../../assets/images/Line10.png" alt="" class="LineLogo">
      </div>
      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-1 logoContentDIV">
          <img src="../../../assets/images/logos4.png" alt="logos" class="img-fluid logoContent">
      </div>
  </div>
  <div class="row " id="AboutUs">
      <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12  ">
          <img src="../../../assets/images/About Us Illustration.png" alt="About us" class="img-fluid AboutUsImageFull">
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12  " id="AboutUsContent">
          <h2>About Us</h2>
          <div id="AboutUsWrited">
              <p>We generated names based on a multitude of factors and <br>picked
                  thes
                  one
                  that resonated with us the
                  most. Our founder <br>first engaged with the blockchain in 2013
              </p>
          </div>
          <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12  ">
              <img src="../../../assets/images/About Us Illustration.png" alt="About us"
                  class="img-fluid AboutUsImageMobile">
          </div>
          <div id="PHE" class="row">
              <div class="PHEcontent col-xl-3.1 col-lg-4 col-sm-12">
                  <div class="contentLine1">
                      <h4> Project Done</h4>
                      <div class="numberContent">
                          <span>600+</span>
                      </div>
                  </div>
              </div>
              <div id="orangeLine"><img src="" alt="" id="orangeLineIMG1"></div>
              <div class="PHEcontent col-xl-4 col-lg-4 col-sm-12">
                  <div class="contentLine2">
                      <h4> Happy Clients</h4>
                      <div class="numberContent">
                          <span>950+</span>
                      </div>
                  </div>
              </div>
              <div id="orangeLine"><img src="" alt="" id="orangeLineIMG2"></div>
              <div class="PHEcontent col-xl-2.9 col-lg-3 col-sm-12">
                  <div class="contentLine3">
                      <h4>Employee</h4>
                      <div class="numberContent">
                          <span>30+</span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div id="OurInterests" class="row col-xl-12 col-md-12 col-sm-12">
      <h2>Our interests</h2>

      <p>It's the norm these days to lay out a roadmap that gives stakeholders an indication<br> of the
          direction
          that
          the project aspires to go.
          Inspired by Elon Musk’s 2006<br>
          masterplan, these are our skeleton ambitions.
      </p>
  </div>
  <div id="products" class="row ">
      <div class="col-xl-4 col-lg-4 col-md-10 col-sm-12 productsSize ">
          <div class="contentProducts">
              <div class="productIMG">
                  <img src="../../../assets/images/block.png" alt="block1" class="img-fluid blockImage">
              </div>
              <div class="productWrited">
                  <h3>Blockchain product</h3>
                  <p> Create something novel that has<br> never been done<span
                          class="productPoints">.</span><span class="hiddenProducts"> on the
                          blockchain<br> before Build a
                          product </span>
                  </p>
                  <a href=""> Read more<span class="productPoints">...</span></a>
              </div>
          </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-10 col-sm-12 productsSize hiddenProductsContent">
          <div class="contentProducts">
              <div class="productIMG">
                  <img src="../../../assets/images/block3.png" alt="block3" class="img-fluid blockImage">
              </div>
              <div class="productWrited">
                  <h3>Viable product</h3>
                  <p>Create something novel that has <br>
                      never been done<span class="productPoints">.</span><span class="hiddenProducts"> on
                          the
                          blockchain<br>
                          before Build a
                          product</span>
                  </p>
                  <a href=""> Read more<span class="productPoints">...</span> </a>
              </div>
          </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-10 col-sm-12 productsSize hiddenProductsContent">
          <div class="contentProducts">
              <div class="productIMG">
                  <img src="../../../assets/images/block2.png" alt="block2" class="img-fluid blockImage">
              </div>
              <div class="productWrited">
                  <h3>Quality product</h3>
                  <p>Create something novel that has<br>
                      never been done <span class="productPoints">.</span> <span class="hiddenProducts">
                          on
                          the
                          blockchain
                          <br>before Build a
                          product</span>
                  </p>
                  <a href=""> Read more<span class="productPoints">...</span></a>
              </div>
          </div>
      </div>
      <div class="InvertMobile">
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 productsSize ">
              <div class="contentProducts">
                  <div class="productIMG">
                      <img src="../../../assets/images/block3.png" alt="block3" class="img-fluid blockImage">
                  </div>
                  <div class="productWrited">
                      <h3>Viable product</h3>
                      <p>Create something novel that has <br>
                          never been done<span class="productPoints">.</span><span class="hiddenProducts"> on
                              the
                              blockchain<br>
                              before Build a
                              product</span>
                      </p>
                      <a href=""> Read more<span class="productPoints">...</span> </a>
                  </div>
              </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 productsSize ">
              <div class="contentProducts">
                  <div class="productIMG">
                      <img src="../../../assets/images/block2.png" alt="block2" class="img-fluid blockImage">
                  </div>
                  <div class="productWrited">
                      <h3>Quality product</h3>
                      <p>Create something novel that has<br>
                          never been done <span class="productPoints">.</span> <span class="hiddenProducts">
                              on
                              the
                              blockchain
                              <br>before Build a
                              product</span>
                      </p>
                      <a href=""> Read more<span class="productPoints">...</span></a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div id="OurValues" class="row">
      <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12 " id="ourValuesImage">
          <img src="../../../assets/images/Our Values Illustration.png" alt="Our Values" class="img-fluid">
      </div>
      <div id="OurValuesContent" class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
          <h2>Our Values</h2>
          <p><br>anftw is a hallmark. The team members may change, but the
              quality<br> of
              our project execution will
              not.An outstanding team can build a <br>product in any industry. Don’t be
              intimidated
              by incumbents.
          </p><br>
          <button id="OurValuesButton">Read More</button>
      </div>
  </div>

  <div id="CurrentProjects" class="row">
      <h2>Current Projects</h2>
      <div class="contentProjects col-xl-4 col-lg-4 col-md-12 col-sm-12">
          <img src="../../../assets/images/content1.png" class="img-fluid contentImage" alt="content1">
          <div class="CurrentProjectsMobileHidden">
              <h3>
                  Certified Great<br>
                  Expectations Lover
              </h3>
              <p>Certified Great Expectations Lover -<br> To add value to
                  <a href=""> Read more</a>
              </p>
          </div>
          <div class="CurrentProjectsFullHidden">
              <h3>Certified Great Expectations Lover</h3>
              <p>Certified Great Expectations Lover - To add value to An outstanding team can build a product
                  in
                  any industry</p>
              <a href=""> Learn More.</a>
          </div>
      </div>
      <div class="contentProjects col-xl-4 col-lg-4 col-md-12 col-sm-12">
          <img src="../../../assets/images/content2.png" class="img-fluid contentImage" alt="content2">
          <div class="CurrentProjectsMobileHidden">
              <h3>BlockSpace -<br>
                  A solar System
              </h3>
              <p>BlockSpace - We built the first ever<br> accurate model of
                  <a href=""> Read more</a>
              </p>
          </div>
          <div class="CurrentProjectsFullHidden">
              <h3>Certified Great Expectations Lover</h3>
              <p>Certified Great Expectations Lover - To add value to An outstanding team can build a product
                  in
                  any industry</p>
              <a href=""> Learn More.</a>
          </div>
      </div>
      <div class="contentProjects col-xl-4 col-lg-4 col-md-12 col-sm-12">
          <img src="../../../assets/images/content3.png" class="img-fluid contentImage" alt="content3">
          <div class="CurrentProjectsMobileHidden">
              <h3>0xProxy - A web 3.0 <br>Website
              </h3>
              <p>BlockSpace - This project was a<br> collaborative exercise.
                  <a href=""> Read more</a>
              </p>
          </div>
          <div class="CurrentProjectsFullHidden">
              <h3>Certified Great Expectations Lover</h3>
              <p>Certified Great Expectations Lover - To add value to An outstanding team can build a product
                  in
                  any industry</p>
              <a href=""> Learn More.</a>
          </div>
      </div>
      <div id="space"></div>
  </div>
</div>
