<mat-sidenav-container id="main-pag" style="display: unset;">
    <mat-sidenav class="sidenav" mode="side" opened
        fixedInViewport="false" fixedTopGap="66"> 
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="dashboard-home">
                <i class="material-icons">
                    home
                </i>
                Início
            </a>
            <a mat-list-item routerLink="professores">
                <i class="material-icons">
                    account_box
                </i>
                Professores
            </a>
            <a mat-list-item routerLink="alunos">
                <i class="material-icons">
                    school
                </i>
                Alunos
            </a>
            <a mat-list-item>
                <i class="material-icons">
                    motorcycle
                </i>
                Veículos
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>