.sidenav{
    background-color: #3f51b5;
    width: 200px;
}

.sidenav a{
    height: 70px;
    color: #fff;
}

.sidenav i{
    padding-right: 10px;
}

.content{
    padding: 16px;
    background-color: #fff;
}